/* :root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Montserrat', sans-serif:

  -fw-reg: 300;
  --fw-bold:900;

  --clr-light: #fff;
  --clr-dark: #111;
  --clr-accent: #dbddd2;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
  0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.123rem;
  }
}
 */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #a6b8a8;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}
/* Sticky Navbar */
/* .content {
  padding: 16px;
} */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* nav.sticky {
  padding: 5px 100px;
  background: #fff;
}

nav.sticky .logo,
nav.sticky ul li a {
  color: #000;
} */

/* .sticky + .content {
  padding-top: 60px;
} */

/* End of Stick Navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1c1e20;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

.logo {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
/* removes the bullet point on list item */
.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }
}
/* removes the scroll to the right */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #1c1e20;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Home Section */

.home {
  min-height: 92vh;
  width: 100%;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
}

.home .home-content {
  min-height: 92vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text .text-one {
  font-size: 25px;
}
.home .text .text-two {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text .text-three {
  font-size: 40px;
  margin: 5px 0;
}
.home .text .text-four {
  font-size: 23px;
  margin: 5px 0;
}

/* Contact Me Button */

.home .button {
  margin: 14px 0;
}

.home .button button {
  outline: none;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  padding: 8px 16px;
  background: #a6b8a8;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: all 0.4s ease;
}

.home .button button:hover {
  color: #a6b8a8;
  background-color: #fff;
  border-color: #a6b8a8;
}

/* About Me Section */
section {
  padding-top: 60px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: "Raleway", sans-serif;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  z-index: -1;
  /* font-family: "Raleway", sans-serif; */
}

section .title span {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
  z-index: -1;
}

/* accent lines under About Me */

section .title span::before,
section .title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #a6b8a8;
}

section .title span::after {
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
}

/* accent lines under about me - end */

.about .about-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-details .right {
  width: 55%;
}

.about .about-details .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.about .about-details .left {
  width: 45%;
}

section .topic {
  font-size: 25px;
  font-weight: 500;
  color: #1c1e20;
  margin-bottom: 10px;
}

.about-details .right p {
  color: #1c1e20;
  text-align: justify;
}

/* about me section contact me button */
section .button {
  margin: 16px 0;
}

section .button button {
  outline: none;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  padding: 8px 16px;
  background: #a6b8a8;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.4s ease;
  cursor: pointer;
}

section .button button:hover {
  color: #a6b8a8;
  background-color: #fff;
  border-color: #a6b8a8;
}

/* My Skills CSS */

/* .skills{
  background: #F0F8FF;
}
.skills .content{
  padding: 40px 0;
}
.skills .skills-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-details .text{
  width: 50%;
}
.skills-details p{
  color: #0E2431;
  text-align: justify;
}
.skills .skills-details .experience{
 display: flex;
 align-items: center;
 margin: 0 10px;
}
.skills-details .experience .num{
 color: #0E2431;
 font-size: 80px;
}
.skills-details .experience .exp{
 color: #0E2431;
 margin-left: 20px;
 font-size: 18px;
 font-weight: 500;
 margin: 0 6px;
}
.skills-details .boxes{
 width: 45%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.skills-details .box{
 width: calc(100% / 2 - 20px);
 margin: 20px 0;
}
.skills-details .boxes .topic{
 font-size: 20px;
 color: #4070f4;
}
.skills-details .boxes .per{
 font-size: 60px;
 color: #4070f4;
} */

/* Responsive Media Query */

@media screen and (max-width: 1190px) {
  section .content {
    width: 85%;
  }
  .services .content {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .about .about-details {
    flex-direction: column;
    justify-content: center;
  }
  .about .about-details .left {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }
  .services .content .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}

@media screen and (max-width: 971px) {
  .about .about-details .left img {
    height: 350px;
    width: 350px;
  }
}

@media screen and (max-width: 750px) {
  .services .boxes .box {
    width: 100%;
  }
}

/* My Work Section */
.services .boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services .boxes .box {
  width: calc(100% / 3 - 20px);
  min-height: 250px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 30px 10px;
  transition: all 0.4s ease;
  color: #000;
  cursor: pointer;
}

.services .boxes .box:hover {
  background: #a6b8a8;
  color: #fff;
}

.services .boxes .box .icon {
  font-size: 25px;
  height: 50px;
  width: 50px;
  color: #fff;
  background: #a6b8a8;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.services .boxes .box:hover .icon {
  background: #fff;
  color: #a6b8a8;
}

.services .boxes .box:hover .topic {
  color: #fff;
}

/* Scroll TO Top Button CSS */
.scroll-btn i {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #a6b8a8;
  padding: 10px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

/*Footer*/

.footer {
  background: #1c1e20;

  color: #a6b8a8;
  text-align: center;
  padding: 2.5em 0;
  font-size: 400;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: 400;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}
