* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: rgb(31, 40, 51);
  background: linear-gradient(
    312deg,
    rgba(31, 40, 51, 1) 10%,
    rgba(11, 12, 16, 1) 92%
  );
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2 {
  font-size: 3em;
  color: #66fcf1;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
  color: #66fcf1;
}

.banner h3 {
  font-size: 1.5em;
  color: #c5c6c7;
  font-weight: 500;
}

.btn {
  position: relative;
  background: transparent;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-style: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  border: 2px solid #66fcf1;
}

/* Nav Bar */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #66fcf1;
  padding: 20px 100px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
}

header.sticky .logo {
  color: #1f2833;
}

header .logo {
  color: #c5c6c7;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #66fcf1;
  text-decoration: none;
}

header.sticky ul li a {
  color: #1f2833;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #1f2833;
}

.heading h2 {
  font-weight: 600;
  font-size: 30px;
  color: #1f2833;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentBx {
  padding-right: 30px;
}

.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #1f2833;
}

.contentBx p {
  color: #1f2833;
}

/* .w50 {
  min-width: 50%;
  padding-left: 200px;
} */

img {
  max-width: 80%;
  box-shadow: -3px 3px 2px rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Services Section */

.services {
  background: #fff;
}

.heading.white {
  color: #1f2833;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .servicesBx {
  padding: 40px 20px;
  background: #1f2833;
  color: #66fcf1;
  max-width: 340px;
  min-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  box-shadow: -3px 3px 2px rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.services .content .servicesBx:hover {
  background: #66fcf1;
  color: #1f2833;
}

.services .content .servicesBx img {
  max-width: 80px;
  filter: invert(1);
}

.services .content .servicesBx h2 {
  font-size: 20px;
  font-weight: 600;
}

section.work {
  padding-bottom: 20px;
}

.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work .content .workBx {
  width: 50%;
  padding: 20px;
}

.work .content .workBx img {
  max-width: 100%;
}

/* Contact Me */

.contact {
  background: #fff;
}

.formBx {
  min-width: 60%;
}

.formBx form {
  display: flex;
  flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
  color: #1f2833;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: #1f2833;
  color: #fff;
  resize: none;
}

.formBx form textarea {
  min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
  color: #fff;
}

.formBx form input[type="submit"] {
  max-width: 100px;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #1f2833;
  color: #1f2833;
}

.contactInfo {
  min-width: 40%;
}

.contactInfoBx {
  position: relative;
}

.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #1f2833;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #1f2833;
  flex-direction: column;
  font-weight: 300;
}

.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #1f2833;
  margin-bottom: 0;
}

.footer {
  background: #fff;
  color: #1f2833;
  text-align: center;
  padding: 0.5em 0;
  font-size: 400;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: 400;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* Responsive */

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #66fcf1;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    left: 0%;
  }
  header ul li a {
    color: #0b0c10;
    font-size: 24px;
    margin: 10px;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background: url(images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  /* .toggle.active {
    width: 40px;
    height: 40px;
    background: url(images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  } */
  header.sticky .toggle {
    width: 40px;
    height: 40px;
    background: url(images/menu1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  section {
    padding: 100px 50px;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  .banner h2 {
    font-size: 1.5em;
  }
  .banner h3 {
    font-size: 1em;
  }
  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .heading h2 {
    font-size: 24px;
  }
  .contentBx h3 {
    font-size: 20px;
  }
  .content {
    flex-direction: column;
  }
  .w50 {
    margin-bottom: 20px;
  }
  .img {
    max-width: 100%;
  }
  .services .content .servicesBx {
    margin: 10px;
  }
  .work {
    padding: 0px;
  }
  .work .content .workBx {
    width: 100%;
    padding: 10px;
  }
  .contactInfo {
    margin: 20px 0;
  }
}

@media (max-width: 600px) {
  header,
  header.sticky {
    padding: 20px 20px;
  }
  .banner {
    padding: 150px 20px 100px;
  }
  section {
    padding: 100px 20px;
  }
}
